.cardContainer{
    margin: 0px 10px;
    min-width: 300px;
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0px 9px 0 rgb(151 151 151 / 14%);
    box-sizing: border-box;
    transition: 0.3s ease-out;
   
    @media(max-width:$ipadMiniWidth) {
        height: 50px;
        min-width: 100%;
        overflow: hidden;
        justify-content: flex-start;
        margin: 5px 0px;
    }
}

.MobileCardHeightClosed {
    height: 100vh;
    transition: 0.3s ease-out;
    @media (max-width:$ipadMiniWidth) {
        height: 50px;
        
    }

}

.MobileCardHeightOpened {
    height: 100vh;
    transition: 3s ease-out;
    @media (max-width:$ipadMiniWidth) {
        height: fit-content;
       
    }

}

.additionalInfo{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    height: 60vh;
    flex-direction: column;
    @media(max-width:$ipadMiniWidth){
        height: fit-content;
        width: 90%;
    }

}