.citySearchField{
    width: 150px;
    height: 20px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.locationSearch__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;

}
.locationSearch__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}